*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(./img/Andromeda.jpg);
}

html{
    font-size: 60%;
}

.lista-planetas{

}

.titulo{
    background-color: antiquewhite;
    font-size: 2rem;
    width: 12rem;
    border-radius: 15px;
    position: relative;
    top: 30px;
}

.planeta{

}

img{
    width: 15rem;
    height: 15rem;
}